/* Colores personalizados */
.text-gold {
    color: gold;
}

.bg-gold {
    background-color: gold;
}

/* Estilo para todas las imágenes del álbum */
.img-fluid {
    height: 100px; /* Tamaño deseado */
    object-fit: cover; /* Para mantener la proporción y cubrir todo el espacio */
}

